/* .big {
  background-color: #fff;
  color: rgb(241, 241, 241);
  width: 35;
} */
path {
  fill: rgb(158, 255, 120);
  stroke: rgba(0, 0, 0, 0.1);
}

svg {
  background-color: #fff;
}

.sphere {
  fill: rgb(64, 83, 190);
}
.country:hover {
  fill: thistle;
  box-shadow: 0 0 1rem 1rem #000;
}
